/*
filename: Style.css
author: Jack Fuhrer
created: 21092021
last modified: 21092021 
description: Sprint #1, Implementing style in the PHP server UI
*/

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    
}

/* Depending if we use to use ASIDES in the menus/pages*/

/*aside{
    border: 4px inset red; 
    border-radius: 14px;
    margin:1em;
    padding: 1em;
    background-color:white;
    width: 25%;
    float:none;
    box-shadow:10px 10px 5px #aaaaaa;    
} */

html {
    height: 100%;
    padding: 0;
    margin: 0;
    background-size: cover;
}

.menu {
    display: inline-block;
    
    }

}
/* Use this nav for the menu/directory to make it look nicer and slicker*/
nav a { text-decoration:none;
        padding:0.5em 0.6em;
        border: 4px solid #7aaeff;
        width: 100%;
        background-color:orange;
}
    
nav a:hover{
    background-color:#34ebc9;
}


h1 { font-family:"Times New Roman",serif; font-size:64px; background:-webkit-linear-gradient(#000000, #d47237);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
     color:#864f8c;font-size:1.5em; font-weight:bold;
}
h3 {
    color:red;
}
    
    
/* Footer css */
 footer{
    border:4px inset red;
    border-style:double hidden hidden hidden;
    clear:both;
}    

    
footer p {display:inline-block; width:33%;}
footer p:first-child {float:left;}
footer p:nth-child(2) {text-align: center;}
footer p:last-child {float:right; text-align:right} 
